:root{ /*declaram variaveis dentro da raiz do elemento*/
    --vermelho: #E50914;
    --preta: #141414;
}
/*Linkando a fonte:*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; /*nao rompe a saida da caixa.*/
    font-family: 'Playfair Display', serif;
}
/*BASE*/
body{
    background: var(--preta);
    font-family: 'Playfair Display', serif;
    color: white;
}


header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Playfair Display', serif;
    font-size: 40px;

}

header nav a{
    text-decoration: none;
    color: #6d7578;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*FILME PRINCIPAL*/
.serie-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.5)100%), url('../img/capa-time.jpg');
    height: 670px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
}
.serie-principal .titulo{
    font-size: 68px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;


}
.serie-principal .descricao{
    margin-bottom: 40px;
    width: 50%;
    font-size: 22px;
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
}

.serie-principal .container{
    margin-left: 30px;
    width: 85%;

}

.btn{
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    padding: 15px;
    cursor: pointer;
    transition: .5s ease all;
}
.btn:hover{
    background-color: white;
    color: black;
}
.btn i{
    margin-right: 8px;
}

/*ALTURA E LARGURA DAS IMAGENS NO CARROSEL*/
.box-filme{
    border-radius: 8px;
}
.carrosel-filmes{
    padding: 20px;
}
.sub-titulo{
    margin-bottom: 15px;
    margin-left: 50px;
    color: #495057;
    font-size: 32px;
}

.item p{
    text-align: center;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    color:#212529;
}
#hero{
    padding-top: 70px;
    background-color: #e9ecef;
}


